

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-554857511853753533.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-554857511853753533.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-554857511853753533.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-554857511853753533.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-554857511853753533.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-554857511853753533.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-554857511853753533.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-554857511853753533.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-554857511853753533.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-554857511853753533.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-554857511853753533.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-554857511853753533.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-554857511853753533.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-554857511853753533.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-554857511853753533.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-554857511853753533.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-554857511853753533.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-554857511853753533.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-554857511853753533.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-554857511853753533.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-554857511853753533.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-554857511853753533.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-554857511853753533.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-554857511853753533.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-554857511853753533.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-554857511853753533.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-554857511853753533.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-554857511853753533.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-554857511853753533.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-554857511853753533.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-554857511853753533.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-554857511853753533.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-554857511853753533.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-554857511853753533.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-554857511853753533.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-554857511853753533.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-554857511853753533.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-554857511853753533.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-554857511853753533.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-554857511853753533.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-554857511853753533.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-554857511853753533.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-554857511853753533.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-554857511853753533.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-554857511853753533.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-554857511853753533.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-554857511853753533.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-554857511853753533.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-554857511853753533.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-554857511853753533.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-554857511853753533.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-554857511853753533.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-554857511853753533.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-554857511853753533.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-554857511853753533.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-554857511853753533.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-554857511853753533.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-554857511853753533.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-554857511853753533.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-554857511853753533.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-554857511853753533.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-554857511853753533.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-554857511853753533.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-554857511853753533.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-554857511853753533.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-554857511853753533.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-554857511853753533.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-554857511853753533.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-554857511853753533.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-554857511853753533.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-554857511853753533.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-554857511853753533 .gp-absolute{position:absolute}.gps-554857511853753533 .gp-relative{position:relative}.gps-554857511853753533 .gp-z-1{z-index:1}.gps-554857511853753533 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-554857511853753533 .gp-mb-0{margin-bottom:0}.gps-554857511853753533 .gp-flex{display:flex}.gps-554857511853753533 .gp-inline-flex{display:inline-flex}.gps-554857511853753533 .gp-grid{display:grid}.gps-554857511853753533 .\!gp-hidden{display:none!important}.gps-554857511853753533 .gp-hidden{display:none}.gps-554857511853753533 .gp-h-full{height:100%}.gps-554857511853753533 .gp-w-full{width:100%}.gps-554857511853753533 .gp-max-w-full{max-width:100%}.gps-554857511853753533 .gp-flex-col{flex-direction:column}.gps-554857511853753533 .gp-items-center{align-items:center}.gps-554857511853753533 .\!gp-justify-center{justify-content:center!important}.gps-554857511853753533 .gp-justify-center{justify-content:center}.gps-554857511853753533 .gp-gap-y-0{row-gap:0}.gps-554857511853753533 .gp-overflow-hidden{overflow:hidden}.gps-554857511853753533 .gp-leading-\[0\]{line-height:0}.gps-554857511853753533 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-554857511853753533 .gp-duration-200{transition-duration:.2s}.gps-554857511853753533 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-554857511853753533 .tablet\:gp-relative{position:relative}.gps-554857511853753533 .tablet\:\!gp-hidden{display:none!important}.gps-554857511853753533 .tablet\:gp-hidden{display:none}.gps-554857511853753533 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-554857511853753533 .mobile\:gp-relative{position:relative}.gps-554857511853753533 .mobile\:\!gp-hidden{display:none!important}.gps-554857511853753533 .mobile\:gp-hidden{display:none}.gps-554857511853753533 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-554857511853753533 .mobile\:\!gp-justify-center,.gps-554857511853753533 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-554857511853753533 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-554857511853753533 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-554857511853753533 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-554857511853753533 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-554857511853753533 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-554857511853753533 .\[\&_p\]\:gp-inline p{display:inline}.gps-554857511853753533 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-554857511853753533 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gRc_aNdcK-" data-id="gRc_aNdcK-"
        style="--blockPadding:base;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRc_aNdcK- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtf72Rywfg gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:100vh;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:none;--mb:20px">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"type":"image","color":"#f9f6f5","image":{"src":"https://cdn.shopify.com/s/files/1/0927/1430/3826/files/EDGY.png?v=1740509466","width":3840,"height":1704,"backupFileKey":""},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false},"tablet":{"type":"image","color":"#f9f6f5","image":{"src":"https://cdn.shopify.com/s/files/1/0927/1430/3826/files/EDGY.png?v=1740509466","width":3840,"height":1704,"backupFileKey":""},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false},"mobile":{"type":"image","color":"#f9f6f5","image":{"src":"https://cdn.shopify.com/s/files/1/0927/1430/3826/files/EDGY.png?v=1740509466","width":3840,"height":1704,"backupFileKey":""},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false}},"uid":"g1H3ux088y","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[5,7],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[5,7],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="g1H3ux088y gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pt:0px;--h:auto;--h-tablet:100vh;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto"
        data-id="g1H3ux088y"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:auto;--h-tablet:100vh;--h-mobile:500px;--aspect:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:#f9f6f5;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0927/1430/3826/files/EDGY.png?v=1740509466" />
      <source media="(max-width: 1024px)" srcset="https://cdn.shopify.com/s/files/1/0927/1430/3826/files/EDGY.png?v=1740509466" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://cdn.shopify.com/s/files/1/0927/1430/3826/files/EDGY.png?v=1740509466"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--d:block;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:100vh;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgc:#f9f6f5;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('https://cdn.shopify.com/s/files/1/0927/1430/3826/files/EDGY.png?v=1740509466');--bgi-tablet:url('https://cdn.shopify.com/s/files/1/0927/1430/3826/files/EDGY.png?v=1740509466');--bgi-mobile:url('https://cdn.shopify.com/s/files/1/0927/1430/3826/files/EDGY.png?v=1740509466');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:68px;--pb:68px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:80%;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 100%)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center;--o:0;--o-tablet:0"
      class="gJdcgvo4DQ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="go-r4JbfRP">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="go-r4JbfRP "
        style="--ta:left;--mb:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Lovelo-Black, 'Lovelo Black'), var(--g-font-heading, heading);--weight:400;--size:50px;--size-tablet:46px;--size-mobile:41px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggo-r4JbfRP_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="goIWZc0o0q">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="goIWZc0o0q "
        style="--ta:left;--mb:36px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-body, body);--weight:400;--size:25px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoIWZc0o0q_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gHNG9qls8f" data-id="gHNG9qls8f"
        style="--mb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHNG9qls8f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gBCckM0L8I gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
      class="gp-leading-[0] gY74y1BnrZ"
    >
      <div 
      data-id="gY74y1BnrZ"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#f6b1ac;--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045645160">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M246.15,65.46l-.07-.08L222.15,41.85a20,20,0,0,0-28.23-.05l-90,88.83L70.06,97.78a20,20,0,0,0-28.21.08l-24,24a20,20,0,0,0,0,28.26l71.62,72a20,20,0,0,0,28.29,0L246.15,93.74A20,20,0,0,0,246.15,65.46ZM103.61,202.33,37.64,136,56,117.61,95.65,156a12,12,0,0,0,16.78-.08L208,61.61l18.32,18Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gwC_96Xutv gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gA4Jr1Q_ad">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gA4Jr1Q_ad "
        style="--ta:left;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Lovelo-Black, 'Lovelo Black'), var(--g-font-heading, heading);--weight:400;--size:17px;--size-tablet:46px;--size-mobile:41px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggA4Jr1Q_ad_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJ9-Y-E1Lh">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gJ9-Y-E1Lh "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJ9-Y-E1Lh_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gECsLpgxBg" data-id="gECsLpgxBg"
        style="--mb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gECsLpgxBg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gAPiQZuif6 gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
      class="gp-leading-[0] gaxXr-461F"
    >
      <div 
      data-id="gaxXr-461F"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#f6b1ac;--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045645160">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M246.15,65.46l-.07-.08L222.15,41.85a20,20,0,0,0-28.23-.05l-90,88.83L70.06,97.78a20,20,0,0,0-28.21.08l-24,24a20,20,0,0,0,0,28.26l71.62,72a20,20,0,0,0,28.29,0L246.15,93.74A20,20,0,0,0,246.15,65.46ZM103.61,202.33,37.64,136,56,117.61,95.65,156a12,12,0,0,0,16.78-.08L208,61.61l18.32,18Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gpYuYi0VsH gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gl75l1umzG">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gl75l1umzG "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Lovelo-Black, 'Lovelo Black'), var(--g-font-heading, heading);--weight:400;--size:17px;--size-tablet:46px;--size-mobile:41px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggl75l1umzG_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdqv1s4OG1">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gdqv1s4OG1 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdqv1s4OG1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gHasNOFNV4" data-id="gHasNOFNV4"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHasNOFNV4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gQaePrakte gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
      class="gp-leading-[0] gbjh8SbfoY"
    >
      <div 
      data-id="gbjh8SbfoY"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#f6b1ac;--t:rotate(0deg);--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px;--minw:24px;--minw-tablet:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562045645160">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M246.15,65.46l-.07-.08L222.15,41.85a20,20,0,0,0-28.23-.05l-90,88.83L70.06,97.78a20,20,0,0,0-28.21.08l-24,24a20,20,0,0,0,0,28.26l71.62,72a20,20,0,0,0,28.29,0L246.15,93.74A20,20,0,0,0,246.15,65.46ZM103.61,202.33,37.64,136,56,117.61,95.65,156a12,12,0,0,0,16.78-.08L208,61.61l18.32,18Z" /></svg></span>
    </div>
      </div>
    </div>
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gKuMAEf7lX gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gbzpzYZJMU">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gbzpzYZJMU "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Lovelo-Black, 'Lovelo Black'), var(--g-font-heading, heading);--weight:400;--size:17px;--size-tablet:46px;--size-mobile:41px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggbzpzYZJMU_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gup1nrNNLA">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gup1nrNNLA "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggup1nrNNLA_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center;--o:1;--o-tablet:1;--d-mobile:none"
      class="gydj8Fr8Cp gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sq9rQg.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sqzrQ6t3l4PmOo.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sq9rQ6t3l4P.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-554857511853753533 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/djm1vf-jd/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=545456824741070033&sectionId=554857511853753533)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggo-r4JbfRP_text","label":"ggo-r4JbfRP_text","default":"PIù di un semplice spray"},{"type":"html","id":"ggoIWZc0o0q_text","label":"ggoIWZc0o0q_text","default":"<p>La tua pelle, <span style=\"font-size:28px;\"><i><strong>trasformata</strong></i></span> con ingredienti preziosi e la protezione più sicura.</p>"},{"type":"html","id":"ggA4Jr1Q_ad_text","label":"ggA4Jr1Q_ad_text","default":"<strong>Bellezza naturale</strong>"},{"type":"html","id":"ggJ9-Y-E1Lh_text","label":"ggJ9-Y-E1Lh_text","default":"<p>Estratti botanici ricchi di antiossidanti che coccolano la pelle e la proteggono dai radicali liberi.</p>"},{"type":"html","id":"ggl75l1umzG_text","label":"ggl75l1umzG_text","default":"<strong>Scorrimento effetto seta</strong>"},{"type":"html","id":"ggdqv1s4OG1_text","label":"ggdqv1s4OG1_text","default":"<p>Una barriera rinfrescante che riduce l’attrito, per una rasatura ultra delicata e senza stress.</p>"},{"type":"html","id":"ggbzpzYZJMU_text","label":"ggbzpzYZJMU_text","default":"<strong>Gentile sulla pelle, spietato con i peli</strong>"},{"type":"html","id":"ggup1nrNNLA_text","label":"ggup1nrNNLA_text","default":"<p>Clinicamente testato, non comedogenico e senza ingredienti aggressivi. Solo sicurezza e glow!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
