

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-549061624296637517.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-549061624296637517.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-549061624296637517.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-549061624296637517.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-549061624296637517.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-549061624296637517.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-549061624296637517.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-549061624296637517.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-549061624296637517.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-549061624296637517.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-549061624296637517.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-549061624296637517.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-549061624296637517.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-549061624296637517.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-549061624296637517.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-549061624296637517.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-549061624296637517.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-549061624296637517.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-549061624296637517.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-549061624296637517.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-549061624296637517.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-549061624296637517.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-549061624296637517.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-549061624296637517.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-549061624296637517.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-549061624296637517.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-549061624296637517.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-549061624296637517.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-549061624296637517.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-549061624296637517.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-549061624296637517.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-549061624296637517.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-549061624296637517.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-549061624296637517.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-549061624296637517.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-549061624296637517.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-549061624296637517.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-549061624296637517.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-549061624296637517.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-549061624296637517.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-549061624296637517.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-549061624296637517.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-549061624296637517.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-549061624296637517.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-549061624296637517.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-549061624296637517.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-549061624296637517.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-549061624296637517.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-549061624296637517.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-549061624296637517.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-549061624296637517.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-549061624296637517.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-549061624296637517.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-549061624296637517.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-549061624296637517.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-549061624296637517.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-549061624296637517.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-549061624296637517.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-549061624296637517.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-549061624296637517.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-549061624296637517.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-549061624296637517.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-549061624296637517.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-549061624296637517.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-549061624296637517.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-549061624296637517.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-549061624296637517.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-549061624296637517.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-549061624296637517.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-549061624296637517.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-549061624296637517.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-549061624296637517.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-549061624296637517.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-549061624296637517.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-549061624296637517.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-549061624296637517.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-549061624296637517.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-549061624296637517.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-549061624296637517.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-549061624296637517.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-549061624296637517.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-549061624296637517.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-549061624296637517 .-gp-translate-x-1\/2,.gps-549061624296637517 .-gp-translate-y-1\/2,.gps-549061624296637517 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-549061624296637517 .gp-absolute{position:absolute}.gps-549061624296637517 .gp-relative{position:relative}.gps-549061624296637517 .gp-inset-0{inset:0}.gps-549061624296637517 .gp-left-0{left:0}.gps-549061624296637517 .gp-left-1\/2{left:50%}.gps-549061624296637517 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-549061624296637517 .gp-top-0{top:0}.gps-549061624296637517 .gp-top-1\/2{top:50%}.gps-549061624296637517 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-549061624296637517 .gp-z-1{z-index:1}.gps-549061624296637517 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-549061624296637517 .gp-mb-0{margin-bottom:0}.gps-549061624296637517 .gp-flex{display:flex}.gps-549061624296637517 .gp-inline-flex{display:inline-flex}.gps-549061624296637517 .gp-grid{display:grid}.gps-549061624296637517 .\!gp-hidden{display:none!important}.gps-549061624296637517 .gp-hidden{display:none}.gps-549061624296637517 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-549061624296637517 .gp-h-full{height:100%}.gps-549061624296637517 .gp-w-14{width:56px}.gps-549061624296637517 .gp-w-5{width:20px}.gps-549061624296637517 .gp-w-full{width:100%}.gps-549061624296637517 .gp-max-w-full{max-width:100%}.gps-549061624296637517 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-549061624296637517 .-gp-translate-x-1\/2,.gps-549061624296637517 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-549061624296637517 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-549061624296637517 .gp-flex-col{flex-direction:column}.gps-549061624296637517 .gp-items-center{align-items:center}.gps-549061624296637517 .\!gp-justify-center{justify-content:center!important}.gps-549061624296637517 .gp-justify-center{justify-content:center}.gps-549061624296637517 .gp-gap-y-0{row-gap:0}.gps-549061624296637517 .gp-overflow-hidden{overflow:hidden}.gps-549061624296637517 .gp-break-words{overflow-wrap:break-word}.gps-549061624296637517 .gp-rounded{border-radius:4px}.gps-549061624296637517 .gp-rounded-none{border-radius:0}.gps-549061624296637517 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-549061624296637517 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-549061624296637517 .gp-text-center{text-align:center}.gps-549061624296637517 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-549061624296637517 .gp-no-underline{text-decoration-line:none}.gps-549061624296637517 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549061624296637517 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549061624296637517 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549061624296637517 .gp-duration-200{transition-duration:.2s}.gps-549061624296637517 .gp-duration-300{transition-duration:.3s}.gps-549061624296637517 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-549061624296637517 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549061624296637517 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-549061624296637517 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}.gps-549061624296637517 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-549061624296637517 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-549061624296637517 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-549061624296637517 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-549061624296637517 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-549061624296637517 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-549061624296637517 .tablet\:gp-relative{position:relative}.gps-549061624296637517 .tablet\:\!gp-hidden{display:none!important}.gps-549061624296637517 .tablet\:gp-hidden{display:none}.gps-549061624296637517 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-549061624296637517 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-549061624296637517 .mobile\:gp-absolute{position:absolute}.gps-549061624296637517 .mobile\:\!gp-hidden{display:none!important}.gps-549061624296637517 .mobile\:gp-hidden{display:none}.gps-549061624296637517 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-549061624296637517 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-549061624296637517 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-549061624296637517 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-549061624296637517 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-549061624296637517 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-549061624296637517 .\[\&_p\]\:gp-inline p{display:inline}.gps-549061624296637517 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-549061624296637517 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-549061624296637517 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gmh6mVlPPG" data-id="gmh6mVlPPG"
        style="--blockPadding:base;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmh6mVlPPG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g3zLR3A64W gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:100vh;--h-tablet:100vh;--h-mobile:auto;--d:flex;--d-tablet:flex;--d-mobile:none;--mb:0px">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"type":"video","color":"bg-2","size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/2e9d32fd26554e878a9866192edd2bbd.mp4","videoType":"html5","loop":true,"lazyLoad":false},"tablet":{"type":"video","color":"bg-2","size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/2e9d32fd26554e878a9866192edd2bbd.mp4","videoType":"html5","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0927/1430/3826/files/gempages_545456818986419143-2ef4c9ba-4a62-4fa9-bb66-95d0d5ff17b1.gif","width":320,"height":320,"backupFileKey":"gempages_545456818986419143-2ef4c9ba-4a62-4fa9-bb66-95d0d5ff17b1.gif","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false}},"uid":"grmlvvWhdA","enableParallax":false,"speedParallax":0.6,"hoverEffect":true,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"auto","mobile":"auto"}}'
        gp-href=""
        
        class="grmlvvWhdA gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--pb:40px;--pos:static;--h:100vh;--h-tablet:100vh;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:auto;--aspect:auto;--aspect-mobile:auto"
        data-id="grmlvvWhdA"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-end"
        style="--h:100vh;--h-tablet:100vh;--h-mobile:auto;--aspect:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_545456818986419143-2ef4c9ba-4a62-4fa9-bb66-95d0d5ff17b1_768x.gif" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif"
        alt=""
        fetchpriority="high"
        style="--aspect-mobile:auto;--d:none;--d-tablet:none;--d-mobile:block;--h:100vh;--h-tablet:100vh;--h-mobile:auto;--w-mobile:auto;--w:100%;--w-tablet:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            > 
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('');--bgi-tablet:url('');--bgi-mobile:url('{{ "gempages_545456818986419143-2ef4c9ba-4a62-4fa9-bb66-95d0d5ff17b1_768x.gif" | file_url }}');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-grmlvvWhdA"
      class=" gp-w-full gp-relative mobile:gp-hidden lazy gp-object-cover"
      style="--aspect:auto;--aspect-mobile:auto"
      
      loop
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src=""
      src=""
      poster=""
      playsinline
    >
    
  </video>
    <div
          style="--aspect:auto;--aspect-mobile:auto"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%;--hvr-op:20%"> 
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--pl:auto;--pr:auto;--pt:auto;--pb:auto;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center;--o:1"
      class="gJgJZzHn7u gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8dFpxlySe">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g8dFpxlySe "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:3.1945420401891713px 2.407260092608193px 2px rgba(0, 0, 0, 0.6);--ta:center;--ff:var(--g-font-Lovelo-Black, 'Lovelo Black'), var(--g-font-heading, heading);--weight:400;--ls:4px;--size:36px;--size-tablet:46px;--size-mobile:20px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8dFpxlySe_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    
  >
    <style>
    .gHpgnKSgcw.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #000000;
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gHpgnKSgcw:hover::before {
      
      
    }

    .gHpgnKSgcw:hover .gp-button-icon {
      color: undefined;
    }

     .gHpgnKSgcw .gp-button-icon {
      color: #242424;
    }

    .gHpgnKSgcw:hover .gp-button-price {
      color: undefined;
    }

    .gHpgnKSgcw .gp-button-price {
      color: #242424;
    }

    .gHpgnKSgcw .gp-product-dot-price {
       color: #242424;
    }

    .gHpgnKSgcw:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/rasoio-di-sicurezza-edgy" target="_self" data-id="gHpgnKSgcw" aria-label="<p><span style='font-size:20px;'>PROVALO SUBITO</span></p>"
      
      data-state="idle"
      class="gHpgnKSgcw gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--bg:#FFFFFF;--hvr-bg:#f6b1ac;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:-0.034904812874566954px 1.9996953903127825px 12px 1px #242424;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:40px;--h-tablet:40px;--h-mobile:40px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:#242424;--size:21px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-body, body);--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggHpgnKSgcw_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sq9rQg.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sqzrQ6t3l4PmOo.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sq9rQ6t3l4P.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-549061624296637517 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/djm1vf-jd/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=545456824724292817&sectionId=549061624296637517)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg8dFpxlySe_text","label":"gg8dFpxlySe_text","default":"Scopri il rasoio con cui le donne&nbsp;<br>si radono il <span style=\"color:#F6B1AC;\">viso</span>."},{"type":"html","id":"ggHpgnKSgcw_label","label":"ggHpgnKSgcw_label","default":"<p><span style=\"font-size:20px;\">PROVALO SUBITO</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
