

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-553992798286644423.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-553992798286644423.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-553992798286644423.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-553992798286644423.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-553992798286644423.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-553992798286644423.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-553992798286644423.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-553992798286644423.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-553992798286644423.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-553992798286644423.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-553992798286644423.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-553992798286644423.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-553992798286644423.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-553992798286644423.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-553992798286644423.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-553992798286644423.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-553992798286644423.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-553992798286644423.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-553992798286644423.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-553992798286644423.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-553992798286644423.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-553992798286644423.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-553992798286644423.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-553992798286644423.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-553992798286644423.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-553992798286644423.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-553992798286644423.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-553992798286644423.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-553992798286644423.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-553992798286644423.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-553992798286644423.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-553992798286644423.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-553992798286644423.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-553992798286644423.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-553992798286644423.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-553992798286644423.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-553992798286644423.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-553992798286644423.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-553992798286644423.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-553992798286644423.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-553992798286644423.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-553992798286644423.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-553992798286644423.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-553992798286644423.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-553992798286644423.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-553992798286644423.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-553992798286644423.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-553992798286644423.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-553992798286644423.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-553992798286644423.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-553992798286644423.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-553992798286644423.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-553992798286644423.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-553992798286644423 .-gp-translate-x-1\/2,.gps-553992798286644423 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-553992798286644423 .gp-absolute{position:absolute}.gps-553992798286644423 .gp-relative{position:relative}.gps-553992798286644423 .gp-left-0{left:0}.gps-553992798286644423 .gp-left-1\/2{left:50%}.gps-553992798286644423 .gp-top-0{top:0}.gps-553992798286644423 .gp-top-1\/2{top:50%}.gps-553992798286644423 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-553992798286644423 .gp-mb-0{margin-bottom:0}.gps-553992798286644423 .gp-flex{display:flex}.gps-553992798286644423 .gp-grid{display:grid}.gps-553992798286644423 .\!gp-hidden{display:none!important}.gps-553992798286644423 .gp-hidden{display:none}.gps-553992798286644423 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-553992798286644423 .gp-h-full{height:100%}.gps-553992798286644423 .gp-w-14{width:56px}.gps-553992798286644423 .gp-w-5{width:20px}.gps-553992798286644423 .gp-w-full{width:100%}.gps-553992798286644423 .\!gp-max-w-none{max-width:none!important}.gps-553992798286644423 .gp-max-w-full{max-width:100%}.gps-553992798286644423 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-553992798286644423 .-gp-translate-x-1\/2,.gps-553992798286644423 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-553992798286644423 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-553992798286644423 .gp-flex-col{flex-direction:column}.gps-553992798286644423 .gp-items-center{align-items:center}.gps-553992798286644423 .gp-justify-center{justify-content:center}.gps-553992798286644423 .gp-gap-y-0{row-gap:0}.gps-553992798286644423 .gp-overflow-hidden{overflow:hidden}.gps-553992798286644423 .gp-rounded{border-radius:4px}.gps-553992798286644423 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-553992798286644423 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-553992798286644423 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-553992798286644423 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-553992798286644423 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553992798286644423 .gp-duration-200{transition-duration:.2s}.gps-553992798286644423 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-553992798286644423 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1024px){.gps-553992798286644423 .tablet\:\!gp-hidden{display:none!important}.gps-553992798286644423 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-553992798286644423 .mobile\:\!gp-hidden{display:none!important}.gps-553992798286644423 .mobile\:gp-hidden{display:none}}.gps-553992798286644423 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-553992798286644423 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-553992798286644423 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-553992798286644423 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-553992798286644423 .\[\&_p\]\:gp-inline p{display:inline}.gps-553992798286644423 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-553992798286644423 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g3Uug7VS8t" data-id="g3Uug7VS8t"
        style="--blockPadding:base;--pt:0px;--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3Uug7VS8t gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gvgky1tXik gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="gtkoFhyBrq"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gtkoFhyBrq"
      style="--mb:40px;--mb-mobile:30px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--aspect:auto"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gtkoFhyBrq"
      class=" gp-w-full gp-object-cover"
      style="--aspect:auto"
      
      loop
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/videos/c/o/v/43b8ee99fab149228278598f26ca3c28.mp4"
      src="https://cdn.shopify.com/videos/c/o/v/43b8ee99fab149228278598f26ca3c28.mp4"
      poster=""
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/43b8ee99fab149228278598f26ca3c28.mp4" src="https://cdn.shopify.com/videos/c/o/v/43b8ee99fab149228278598f26ca3c28.mp4" type="video/mp4"></source>
  </video>
    <div
          style="--aspect:auto"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-r7f08EfF">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g-r7f08EfF "
        style="--ta:left;--mb:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Lovelo-Black, 'Lovelo Black'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-r7f08EfF_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gjd-phsepd">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gjd-phsepd "
        style="--ta:center;--mb:36px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:1200px;--w-tablet:1200px;--w-mobile:1200px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggjd-phsepd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g2c1Yft4Wr" data-id="g2c1Yft4Wr"
        style="--mb:36px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2c1Yft4Wr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gMXWnZkjKn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="ge0v0fqWl6"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative ge0v0fqWl6"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--aspect:auto"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-ge0v0fqWl6"
      class=" gp-w-full gp-object-cover"
      style="--aspect:auto"
      
      loop
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/s/files/1/0927/1430/3826/files/0217_1.webp?v=1739822691"
      src="https://cdn.shopify.com/s/files/1/0927/1430/3826/files/0217_1.webp?v=1739822691"
      poster=""
      playsinline
    >
    
  </video>
    <div
          style="--aspect:auto"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="g_5OijgBZ7 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g2YV9Cw5Qh">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g2YV9Cw5Qh "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-heading, heading);--weight:400;--size:34px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2YV9Cw5Qh_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHW4f8setq">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gHW4f8setq "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHW4f8setq_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gTDhmAkQ9t" data-id="gTDhmAkQ9t"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTDhmAkQ9t gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="g4fpIPtm0P gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="giJ7jn49-C"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative giJ7jn49-C"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--aspect:auto"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-giJ7jn49-C"
      class=" gp-w-full gp-object-cover"
      style="--aspect:auto"
      
      loop
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src="https://cdn.shopify.com/s/files/1/0927/1430/3826/files/0217_1_1.webp?v=1739822693"
      src="https://cdn.shopify.com/s/files/1/0927/1430/3826/files/0217_1_1.webp?v=1739822693"
      poster=""
      playsinline
    >
    
  </video>
    <div
          style="--aspect:auto"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:center"
      class="glTDF9hHqs gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="goR9tpw5TW">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="goR9tpw5TW "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-heading, heading);--weight:400;--size:34px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoR9tpw5TW_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gaEYFBBjk5">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gaEYFBBjk5 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggaEYFBBjk5_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sq9rQg.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sqzrQ6t3l4PmOo.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sq9rQ6t3l4P.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-553992798286644423 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/djm1vf-jd/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=545456824741070033&sectionId=553992798286644423)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg-r7f08EfF_text","label":"gg-r7f08EfF_text","default":"Il tuo segreto per una pelle perfetta"},{"type":"html","id":"ggjd-phsepd_text","label":"ggjd-phsepd_text","default":"<p>In 4 semplici step</p>"},{"type":"html","id":"gg2YV9Cw5Qh_text","label":"gg2YV9Cw5Qh_text","default":"Shakera"},{"type":"html","id":"ggHW4f8setq_text","label":"ggHW4f8setq_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."},{"type":"html","id":"ggoR9tpw5TW_text","label":"ggoR9tpw5TW_text","default":"Spruzza!"},{"type":"html","id":"ggaEYFBBjk5_text","label":"ggaEYFBBjk5_text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
