

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-555739242114843425.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-555739242114843425.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-555739242114843425.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-555739242114843425.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-555739242114843425.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-555739242114843425.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-555739242114843425.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-555739242114843425.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-555739242114843425.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-555739242114843425.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-555739242114843425.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-555739242114843425.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-555739242114843425.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-555739242114843425.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-555739242114843425.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-555739242114843425.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-555739242114843425.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-555739242114843425.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-555739242114843425.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-555739242114843425.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-555739242114843425.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-555739242114843425.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-555739242114843425.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-555739242114843425.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-555739242114843425.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-555739242114843425.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-555739242114843425.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-555739242114843425.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-555739242114843425.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-555739242114843425.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-555739242114843425.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-555739242114843425.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-555739242114843425.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-555739242114843425.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-555739242114843425.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-555739242114843425.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-555739242114843425.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-555739242114843425.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-555739242114843425.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-555739242114843425.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-555739242114843425.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-555739242114843425.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-555739242114843425.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-555739242114843425.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-555739242114843425.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-555739242114843425.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-555739242114843425.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-555739242114843425.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-555739242114843425.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-555739242114843425.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-555739242114843425.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-555739242114843425.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-555739242114843425.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-555739242114843425.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-555739242114843425.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-555739242114843425.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-555739242114843425.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-555739242114843425.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-555739242114843425.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-555739242114843425.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-555739242114843425.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-555739242114843425.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-555739242114843425.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-555739242114843425.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-555739242114843425.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-555739242114843425.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-555739242114843425.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-555739242114843425 .\!gp-relative{position:relative!important}.gps-555739242114843425 .gp-relative{position:relative}.gps-555739242114843425 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-555739242114843425 .gp-mb-0{margin-bottom:0}.gps-555739242114843425 .gp-flex{display:flex}.gps-555739242114843425 .gp-inline-flex{display:inline-flex}.gps-555739242114843425 .gp-grid{display:grid}.gps-555739242114843425 .\!gp-hidden{display:none!important}.gps-555739242114843425 .gp-hidden{display:none}.gps-555739242114843425 .gp-h-full{height:100%}.gps-555739242114843425 .gp-w-full{width:100%}.gps-555739242114843425 .gp-max-w-full{max-width:100%}.gps-555739242114843425 .gp-flex-col{flex-direction:column}.gps-555739242114843425 .gp-items-center{align-items:center}.gps-555739242114843425 .gp-gap-y-0{row-gap:0}.gps-555739242114843425 .gp-overflow-hidden{overflow:hidden}.gps-555739242114843425 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555739242114843425 .gp-duration-200{transition-duration:.2s}.gps-555739242114843425 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-555739242114843425 .tablet\:\!gp-hidden{display:none!important}.gps-555739242114843425 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-555739242114843425 .mobile\:\!gp-hidden{display:none!important}.gps-555739242114843425 .mobile\:gp-hidden{display:none}}.gps-555739242114843425 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-555739242114843425 .\[\&_p\]\:gp-inline p{display:inline}.gps-555739242114843425 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-555739242114843425 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gWjfSlgiWK" data-id="gWjfSlgiWK"
        style="--blockPadding:base;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWjfSlgiWK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="giJ4ugfGVE gp-relative gp-flex gp-flex-col"
    >
       
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-marquee.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-marquee
   data-id="gPxBWrJ4Hd"
    
  gp-data='{"setting":{"childItem":["Item 2","Item 4","Item 1","Item 3"],"itemWidthType":{"desktop":"FIT_CONTENT","tablet":"FIT_CONTENT","mobile":"FIT_CONTENT"},"activeItem":"0","hoverItem":"0","isShowIconSeparator":false,"iconSeparatorSvg":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z\"></path></svg>","stopOnHover":false,"speed":1,"direction":"left","isPreview":false,"hasItemShadow":false,"uid":"gPxBWrJ4Hd"},"styles":{"itemSpacing":{"desktop":"56px","tablet":"56px","mobile":"56px"},"itemMaxWidth":{"desktop":"300px","tablet":"300px","mobile":"300px"},"iconSeparatorSize":{"desktop":24,"tablet":24,"mobile":24},"iconSeparatorColor":"#0C0C0C","sizeSetting":{"desktop":{"shapeLinked":false,"width":"100%","height":"auto"}},"itemBorderStyle":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false,"color":"#000000"},"itemCorner":{"btrr":"8px","bblr":"8px","bbrr":"8px","btlr":"8px","radiusType":"custom"},"itemBackgroundColor":{"desktop":"transparent"},"backgroundColor":{"desktop":"#FAE3E1"},"align":{"desktop":"center"},"itemShadow":{"type":"shadow-1","distance":"4px","blur":"12px","spread":"0px","color":"#121212","angle":90}}}'
  class="gPxBWrJ4Hd"
  >
   <div
      class="gp-flex gp-w-full gp-relative"
      style="--jc:center"
    >
  <div class="!gp-relative gp-overflow-hidden" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--bg:#FAE3E1;--mb:0px;--pt:10px;--pb:10px;--mb-mobile:0px;--pt-mobile:8px;--pb-mobile:var(--g-s-s);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%">
        <div
    class="gem-marquee gp-overflow-hidden gp-w-full gp-h-full"
     
    >
     <div class="gp-overflow-hidden gp-w-full gp-h-full">
       
   <div
      style="--pause-on-hover:running;--pause-on-click:running;--width:100%;--transform:none;overflow:hidden;min-width:100%"
      class="rfm-marquee-container"
    >
      <div
        class="rfm-marquee"
        style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto"
      >
        <div class="rfm-initial-child-container">
          
            <div style="--transform:none;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto" class="rfm-child">
               <div class="gp-flex gem-child-marquee-item gp-items-center" style="[object Object]">
       <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:56px;--pr-tablet:56px;--pr-mobile:56px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset"
                >
                  <div
      class="gkbPbnkBG6 gem-marquee-item gem-marquee-item-gkbPbnkBG6 gp-overflow-hidden"
      style="--bg:transparent;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g9Xn6L8DB1">
    <div
      enableLazyloadImage="true" tag="Text" label="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="g9Xn6L8DB1 "
        style="--ta:left;--pt:8px;--pb:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Convergence, 'Convergence'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg9Xn6L8DB1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:56px;--pr-tablet:56px;--pr-mobile:56px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset"
                >
                  <div
      class="gS-JoZ-IWF gem-marquee-item gem-marquee-item-gS-JoZ-IWF gp-overflow-hidden"
      style="--bg:transparent;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gMi_KjrBDb">
    <div
      enableLazyloadImage="true" tag="Text" label="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gMi_KjrBDb "
        style="--ta:left;--pt:8px;--pb:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter-Tight, 'Inter Tight'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--fs:italic;--weight:bold;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMi_KjrBDb_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:56px;--pr-tablet:56px;--pr-mobile:56px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset"
                >
                  <div
      class="gKi_WGIy9C gem-marquee-item gem-marquee-item-gKi_WGIy9C gp-overflow-hidden"
      style="--bg:transparent;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gzalaQ7Lmr">
    <div
      enableLazyloadImage="true" tag="Text" label="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gzalaQ7Lmr "
        style="--ta:left;--pt:8px;--pb:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Lovelo-Line-Bold, 'Lovelo Line Bold'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzalaQ7Lmr_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   
                </div> <div
                  class="gp-inline-flex gp-items-center gp-relative"
                  style="--pr:56px;--pr-tablet:56px;--pr-mobile:56px;text-wrap:wrap;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto;--maxw:unset;--maxw-tablet:unset;--maxw-mobile:unset"
                >
                  <div
      class="gUk3L-EPG6 gem-marquee-item gem-marquee-item-gUk3L-EPG6 gp-overflow-hidden"
      style="--bg:transparent;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--b:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%)"
    >
    
     
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFEmy3mHfZ">
    <div
      enableLazyloadImage="true" tag="Text" label="Text" type="component" isNotFullWidth="true" isNotLazyload="true"
        class="gFEmy3mHfZ "
        style="--ta:left;--pt:8px;--pb:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inder, 'Inder'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggFEmy3mHfZ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
                   
                </div>
    </div>
            </div>
          
        </div>
      </div>
      <div
        class="rfm-marquee placeholder-marquee"
        style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto"
      ></div>
    </div>
  
     </div>
    </div>
  
  </div>
   </div>
  </gp-marquee>

    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Convergence';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/convergence/v15/rax5HiePvdgXPmmMHcIPYShdu0k.woff) format('woff');
}
@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sq9rQg.woff) format('woff');
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjDw-aWy5U.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Convergence';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/convergence/v15/rax5HiePvdgXPmmMHcIPYShTu0_y8zacEL4.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Convergence';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/convergence/v15/rax5HiePvdgXPmmMHcIPYShdu0_y8zac.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sqzrQ6t3l4PmOo.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inder/v14/w8gUH2YoQe8_4sq9rQ6t3l4P.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjDw-aVi5UgqoUP_C5ErM.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjDw-aXy5UgqoUP_C5ErM.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjDw-aVy5UgqoUP_C5ErM.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjDw-aWC5UgqoUP_C5ErM.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjDw-aVC5UgqoUP_C5ErM.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjDw-aVS5UgqoUP_C5ErM.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjDw-aWy5UgqoUP_C5.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-555739242114843425 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/djm1vf-jd/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=545456824724292817&sectionId=555739242114843425)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg9Xn6L8DB1_text","label":"gg9Xn6L8DB1_text","default":"<p>Gentile sulla Pelle</p>"},{"type":"html","id":"ggMi_KjrBDb_text","label":"ggMi_KjrBDb_text","default":"<p>IL MAKEUP RINGRAZIA</p>"},{"type":"html","id":"ggzalaQ7Lmr_text","label":"ggzalaQ7Lmr_text","default":"<p>nessun pelo sfugge</p>"},{"type":"html","id":"ggFEmy3mHfZ_text","label":"ggFEmy3mHfZ_text","default":"<p>Migliora la Skincare</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
